*.retry
*.log
*.bak
*.swp
__pycache__/
*.pyc
*.tar.gz
*.zip

# wg
*.key
*.conf

# ansible
secrets.yml
vault_pass.txt
*vault.yml
inventory/host_vars/alma-server.yml
inventory/host_vars/localhost.yml

# vs code
.vscode