- name: Установка зависимостей python3
  dnf:
    name:
      - python3-pip
      - python3-packaging
    state: present

- name: Установка зависимостей community.docker
  pip:
    name:
      - docker
      - requests
    executable: "{{ pip_path }}"

- name: Создание internal-сети
  community.docker.docker_network:
    name: internal
    driver: bridge
    ipam_config:
      - subnet: "{{ docker_interna_ip }}"
    internal: true

- name: Создание proxy-сети
  community.docker.docker_network:
    name: proxy
    driver: bridge
    ipam_config:
      - subnet: "{{ docker_proxy_ip }}"